.appContainer{
  display: flex;
}
.content{
  width: 100%;
}
.sidebar{
  min-height: 800px;
}
.postCard{
  margin: 20px 50px;
}
.hashTag{
  margin: 0px 3px;
}
.reactions{
  margin: 15px 0 0 0 ;
}
.createPost{
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}
.welcomeMsg{
  margin: 100px 0;
}